
.thread {
    background-color: green;
    height: 80px;
    border-bottom: 1px solid black;
    color: black;
    &:hover {
        background-color: gray;
    }
}

.thread-link {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

// .message-window {
//     max-width: 100vw;
//     height: 100%;
// }
.message-field {
    bottom: 0;
    position: absolute;
    width: 70%;
}


// individual scrolling windows

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

html,body {
    padding: 0;
    margin: 0;
    // color: #ebebeb;
}
.top {
    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-box-align: center;
    // -webkit-align-items: center;
    // -ms-flex-align: center;
    // align-items: center;
    // -webkit-box-pack: center;
    // -webkit-justify-content: center;
    // -ms-flex-pack: center;
    // justify-content: center;
    // background-color: darkgreen;
    // font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 100px;
}

.wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin: -100px 0 0 0;
    padding: 100px 0 0 0;
    position: relative;
    // margin-left: 0;
    // margin-right: 0;
    width: 100vw;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: overflow;
}
.column {
    overflow: auto;
    height: auto;
    background-color: #e5e5e5;

    // padding: .5rem;
    // width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    // background-color: indigo;
    width: 70%;
}
.two {
    width: 30%;
    border-right: 1px solid lightgrey;
}

.conversation {
    list-style: none;
    margin: 0;
    padding: 0 0 50px 0; // finality
    li {
      padding: 0.5rem;
      overflow: hidden;
      display: flex;
    }
}
.self {
    justify-content: flex-end;
    .message {
        background-color: white;
    }
}
.message {
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(black, 0.2);
    p {
      font-size: 1rem;
      margin: 0 0 0.2rem 0;
    }
    time {
      font-size: 0.7rem;
      color: gray;
    }
  }