
.thread {
    // background-color:gray;
    height: 80px;
    color: black;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 10px;
    &:hover {
        background-color: lightgrey;
    }
}

.thread-link {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.message-field {
    bottom: 0;
    position: fixed;
    width: 70%;
}


// individual scrolling windows

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

html,body {
    padding: 0;
    margin: 0;
    // color: #ebebeb;
}
.top {
    position: relative;
    z-index: 10;
    height: 100px;
}

.wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin: -100px 0 0 0;
    padding: 100px 0 0 0;
    position: relative;
    // margin-left: 0;
    // margin-right: 0;
    width: 100vw;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: overflow;
}
.messageBoard {
    overflow: auto;
    height: auto;
    background-color: #e5e5e5;

    // padding: .5rem;
    // width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    // background-color: indigo;
    width: 70%;
}
.two {
    width: 30%;
    border-right: 1px solid lightgrey;
    overflow: auto;
    height: auto;
    background-color: #e5e5e5;

    // padding: .5rem;
    // width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    // background-color: indigo;
}

.conversation {
    list-style: none;
    margin: 0;
    padding: 0 0 50px 0; // finality
    li {
      padding: 0.5rem;
      overflow: hidden;
      display: flex;
    }
}
.self {
    justify-content: flex-end;
    .message {
        background-color: white;
    }
}
.message {
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(black, 0.2);
    p {
      font-size: 1rem;
      margin: 0 0 0.2rem 0;
    }
    time {
      font-size: 0.7rem;
      color: gray;
    }
  }

//   notification
.nav-items {
    max-width: 960px;
  }
  .nav-link {
    display: inline-block;
  }
  .notification {
    background-color: lavenderblush;
  }
  .search-button {
    margin-top: 10px;
  }
  .dropdown-search {
    /* display: inline-block; */
    max-width: 400px;
  }
  .controls {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .active {
      background-color: lightskyblue;
      height: 80px;
      color: black;
      border-radius: 10px;
      margin: 0.5rem;
      padding: 10px;
  }

  @media (max-width: 400px) {
    //   .messageBoard {
    //       display: none;
    //   }
      .two {
          width: 100%;
      }
      .messageBoard {
          width: 100%;
          .message-field {
              width: 100%;
          }
      }
  }