.nav-items {
  max-width: 960px;
}
.nav-link {
  display: inline-block;
}
.notification {
  background-color: coral;
}
.search-button {
  margin-top: 10px;
}
.dropdown-search {
  /* display: inline-block; */
  max-width: 400px;
}
.controls {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
